<!--garden page-->
<html>
<head>
    <style>
        
    </style>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>My Garden</title>

    <!--linking js and css-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/Nurture.css" rel="stylesheet">
    <link href="/css/myGarden.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/jQueryUI.js"></script>

	<script src="/js/functionality.js"></script>

	<!-- Import Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    
</head>
<body style="overflow:auto;
	background-image: url('https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/Sky%20Gradient.png');
	background-position: 0px 1000px;
	background-attachment: fixed;">

	<div id="inactivator"></div>

			<div id ="hamburger">
			<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hamburger.png" height=50px width=50px>
			</div>

			<ul id= "cross">
				<img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/x.png" height=50px width=50px>
			</ul>
				
			<div class = "panel">

				<ul id ="hamWords" style="list-style:none; line-height:120px;">

                    <li>
                        <a href="/logged/home">
                        <img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hamburger_icons/home.png"
                        class='ham-icons' style="left: -25%; top: 7.5%;">
                        Home
                        </a>
                    </li>

                    <li>
                        <a class ="myGarden">
                        <img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hamburger_icons/plant.png"
                        class='ham-icons' style="left: -25%; top: 27.5%;">
                        My Garden
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="/logged/collaborate">
                        <img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hamburger_icons/collaborate.png"
                        class='ham-icons' style="left: -25%; top: 47.5%;">
                        Collaborate
                        </a>
                    </li>

                    <li>
                        <a href="/help">
                        <img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hamburger_icons/question.png"
                        class='ham-icons' style="left: -25%; top: 67.5%;">
                        Help
                        </a>
                    </li>
                    -->

                    <li>
                        <a href="/login">
                        <img src="https://raw.githubusercontent.com/a1peralt/ixd-skeleton/master/resources/hamburger_icons/logout.png"
                        class='ham-icons' style="left: -25%; top: 47.5%;">
                        Logout
                        </a>
                    </li>
                    
				</ul>
			</div>
				

    <div id=blockAlt></div>

    <div id=MyGardenTitleAlt>
        My Garden

        <br>

        <p id=page-descriptionAlt> Plants grown </p>

        <div id=circBGAlt> {{count}} </div>
    </div>


    <div id=plant-containerAlt>

        {{#each plants}}
        {{#if @first}}
        <div class=timeline style="display: none"></div>
        {{else}}
        <div class=timeline></div>
        {{/if}}
        <div class=plantAlt id={{@index}}>
            <img src={{image}} width="105px" height="105px">
            <div class=plantInfoAlt>
            <p id=name>{{name}}</p>
            <p id=date>{{date}}</p>
            <p id=time>{{time}}</p>
            </div>
        </div>
        {{/each}}
        
    </div>

</body>
</html>

